<!doctype html>
<html lang="{{ lang | e }}" dir="{{ 'rtl' if is_rtl else 'ltr' }}">
<head>
  {% include "partials/head.html" %}
  {% block head_extra %}{% endblock %}
</head>
<body class="{{ body_class | default('page-shell', true) | e }}">
  <a class="skip-link" href="#main-content">
    {{ ui_skip_to_content_label | default('Skip to content', true) | e }}
  </a>

  <div class="site-frame">
    {% include "partials/nav.html" %}

    <main id="main-content" class="site-main" tabindex="-1">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}
  </div>

  {% if main_js_url is defined and main_js_url %}
    <script
      defer
      src="{{ main_js_url | e }}"
      {% if csp_nonce is defined and csp_nonce %}nonce="{{ csp_nonce | e }}"{% endif %}
    ></script>
  {% endif %}

  {% if page_js_assets is defined and page_js_assets %}
    {% for asset in page_js_assets %}
      <script
        defer
        src="{{ asset.src | e }}"
        {% if asset.integrity is defined and asset.integrity %}integrity="{{ asset.integrity | e }}"{% endif %}
        {% if asset.crossorigin is defined and asset.crossorigin %}crossorigin="{{ asset.crossorigin | e }}"{% endif %}
        {% if asset.nonce is defined and asset.nonce %}
          nonce="{{ asset.nonce | e }}"
        {% elif csp_nonce is defined and csp_nonce %}
          nonce="{{ csp_nonce | e }}"
        {% endif %}
      ></script>
    {% endfor %}
  {% endif %}

  {% block body_end %}{% endblock %}
</body>
</html>
